<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>832336224219-dic4i7to119sg1eopr6p67cbtfqru3fb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.832336224219-dic4i7to119sg1eopr6p67cbtfqru3fb</string>
	<key>API_KEY</key>
	<string>AIzaSyCSP21k3pprdEz3jA7Kkp7obXH0WTpS9Ss</string>
	<key>GCM_SENDER_ID</key>
	<string>832336224219</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.edupal.sis.ios</string>
	<key>PROJECT_ID</key>
	<string>edupal-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>edupal-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:832336224219:ios:566d9e703ee3dc1034d1fe</string>
</dict>
</plist>